

.main{
	padding: 15px;
	margin: 0 auto;
	height: 1000px;
	display: grid;
	align-items: center;
	justify-items: stretch;
	justify-content: space-between;
	grid-template-rows: 3fr 3fr 3r;
 }

.footer {
	