
.header {
  height: 150px;
  background: #B0E0E6;
}

.logo {
  height: 50px;
  position: absolute;
  left: 100 px;
  top: 20 px;
  font-family: Comic Sans MS;
  font-size: 15 em;
  color: #008080;
}

.header-items {
	top: 50px;
	position: fixed;
	font-family: Sans Comic MS;
	font-size: 10 em;
}

.search{
	position: fixed;
	right: 75px;
    width: 500px;
    display: flex;
}

.search-box{
	width: 80%;
    height: 20px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #008080;
    text-transform: capitalize;
    background: none;
    color: #008080;
    outline: none;
}

.search-btn{
    width: 20%;
    height: 42px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #008080;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-box::placeholder{
    color: #5F9EA0;
}

button{
	font-size: 5vmin;
	padding: .5em 1em;
	background: #fff;
	color: #4A5568;
	border: 0 px solid #4682B4;
	margin: .1em;
	transition: background .2s ease, color .2s ease, box-shadow .2s ease, transform .2s ease;
	box-shadow: 0 0 0 #4682B4;
	transform: translateY(0);
}

button a{
	color: #A0AEC0;
	margin-right: .3em;
	transition: all .2s ease-out;
}

button:first-of-type{
	border-radius: .5em 0 0 .5em;
}
button:last-of-type{
	border-radius: 0 .5em .5em 0;
}

.multi-button:hover button{
	color: #A0AEC0;
}

.multi-button:hover button:hover{
	background: #4682B4;
	color: #fff;
	box-shadow: 0 0 0.8em 0 #4682B4;
	transform: translateY(-.2em);
}
.multi-button:hover button i{
	color: #CBD5E0;
}
.multi-button:hover button:hover i{
	color: #FED7E2;
	transform: rotate(-10deg);
}