{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />	
<head>

	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>Магазин детских товаров</title>
	
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
</head>

<body>

	<header>
		<div class="logo"> 
			<a href="media/logo.jpg"><img src="../../../../media/logo.jpg" class="logo" alt="logo" height="150" width="220"></a>
		</div>
		
		<div class="buttons">
			
			<div class="search">
				<input type="text" class="search-box" placeholder="  Название товара, бренда">
				<button class="search-btn">Поиск</button>
			</div>
		
			<div class="multi-button">
				<button><a href="catalog"> Каталог </a></button>
				<button><a href="https://youtu.be/dQw4w9WgXcQ?si=Br8z51l2hq0iX8Aa"> Контакты </a></button>
				<button><a href="user"> Профиль </a></button>
				<button><a href="cart"> Корзина </a></button>
			</div>
		</div>
	</header>
	
<div class='main'>
		
		<div class='sales'>
			<div class='sales-products'>
			</div>
		</div>


		<div class='popular'>
			<div class='popular-products'>
			</div>
		</div>
			
</div>

   <footer>

   </footer>
   
</body>

</html>